
// Variables
$light: #fff;
// $primary-color: #ff4135;
$primary-color: #D8C338;
$secondary-color: #9c8d2b;
$extra-color: #ffffff;
$success: #1bbb1b;
$black: #191814;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Catamaran', sans-serif;
$base-font:'Source Sans Pro', sans-serif;
$extra-font:'Poppins', sans-serif;
$icon-font: 'themefisher-font';